body {
    background-image: url("./bilder/forside-bilde.png");
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container {
    box-sizing: border-box;
    width: 80%;
    margin: 10%;
    background-color: rgb(17, 17, 17);
    padding: 20px;
}
#copyText{
    font-size: 6px;
}
#copyButton{
    margin: 5px;
}
#copyButton:hover{
    cursor: pointer;
}
h1 {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#oppgave, #ekstra-oppgaver {
    background-color: rgb(198, 255, 112);
    padding: 10px;
    color: black;
    margin-block: 40px;
}
#oppgave h2 {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
img {
    width: 100%;
}
#mindre_bilde {
    width: 50%;
}
#eksempel-overskrift {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
button:hover {
    background-color: rgb(198, 255, 112);
}
#ekstra-oppgaver {
    background-color: #93FFDE;
    margin-block: 0px;
}
#ekstra-oppgaver li {
    padding-block: 5px;
}
#hint {
    display: none;
    background-color: #93FFDE;
    color: black;
    width: fit-content;
    padding: 5px;
}
#hint-knapp:hover {
    background-color: #93FFDE;
}
/* bredde på hoved-scrollebar */
body::-webkit-scrollbar{
    width: 14px;
}
/* bakgrunnsfargen til hoved-scrollbaren */
body::-webkit-scrollbar-track{
    background: #111111;
}
/* utforming av hoved-scrollbar-thumb */
body::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #C6FF70  0%, #93FFDE 100%);
    border-radius: 100vw;
}
/* hover-effekt på scrollbar-thumb */
body::-webkit-scrollbar-thumb:hover{ 
    background: linear-gradient(180deg, #D4FE93  0%, #B9FEE9 100%);
}
